
:root{
    --background:#000000;
    --base: #150050;
    --banckgroundDiv: #2d1d7746;
    --radius: 30px;
    --backgroundSelects: #391480;

}
*{
    box-sizing: border-box;
    margin: 0px;
}


body{
	font-family: 'Press Start 2P', cursive;
	background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #142438 0%,
    #004daa 100%
  );
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

p{
    color: #ffffff;
    font-size: 48px;
}

.containerTitle{
	width: 1200px;
	height: 80px;
	background-color: var(--banckgroundDiv);
	border-radius: var(--radius);
	text-align: center;
	line-height: 80px;
	margin: 33px  0px 0px 0px;
}

.title{
	color: #ffffff;
	transition: 33px 0px 0px 0px;
}

.containerPts{
    width: 1200px;
    height: 253px;
    background-color: var(--banckgroundDiv);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0px 0px 33px 0px;

}

.containerIcons{
    max-width: 150px;
    max-height: 70px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    background-color: var(--backgroundSelects);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.result{
    color: #ffffff;
    transition: textContent .4s ease .0s;

}

.containerResult{
    margin: 0px 283px 0px 283px;
    max-width: 211px;
    width: 211px;

}

.containerVs{
    width: 1200px;
    height: 350px;
    background-color: var(--banckgroundDiv);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;

}

.boxVs{
    border-radius: 50px;

    max-width: 81px;
    max-height: 81px;
    width: 81px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 162px 0px 160px;
    outline-style: solid;
    outline-width: 8px;
    outline-color: #ffffff;
    transition: outline-color .4s ease .0s;
}

.containerElecUsr{
    max-width: 300px;
    max-height: 750px;
    width: 300px;
    height: 750px;
    background-color: var(--banckgroundDiv);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 33px 0px 0px;
}

.containerElecPc{
    max-width: 300px;
    max-height: 750px;
    width: 300px;
    height: 750px;
    background-color: var(--banckgroundDiv);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 0px 0px 33px;

}

.reset{
border-radius: 50px;
    width: 72px;
    height: 72px;
    background-color: var(--banckgroundDiv);
    border: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
	max-height: 60px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerMain{
    display: flex;
    flex-direction: column;
    align-items: center;


}